
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: whitesmoke;
    font-family: 'Baloo Chettan', cursive;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}
.page-header {
    text-align: center;

    margin-top: 0;
    padding: 20px 20px 20px 40px;
    /*background: -webkit-linear-gradient(lightsteelblue, steelblue); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(lightsteelblue, steelblue); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(lightsteelblue, steelblue); /* For Firefox 3.6 to 15 */
    background-color: #808ea1 ;
    /*background: linear-gradient(#a0b2c9, #808ea1); /* Standard syntax */
}

.page-body {
    padding-left: 10px;

}
.page-footer {
    padding-left: 10px;
    padding-top: 20px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
}

.map {
    margin: auto;
    box-shadow: 10px 10px 5px grey;

}

body {
    background-image: url("../images/paper.png");
}

h2 {
        font-family: 'Baloo Chettan', cursive;
    }

